html, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lemonchiffon;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;  
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #296d98;
}

header a,
nav a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    margin: 4px 8px 6px;
}

nav {
    display: flex;
    justify-content: flex-end;
}

/* nav a {
    text-decoration: none;
    margin: 4px 8px 20px 6px;
    color: black;
} */

nav a:hover {
    text-decoration: underline;
}

header,
section,
footer {
    padding: 20px;
}

.intro-section {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 0;
    max-height: 100vh;
}

.intro-section .intro {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: black;
    text-align: center;
}

.img-intro {
    display: flex;
    max-width: 40%;
    flex-wrap: wrap;
    background-color: white;
    color: black;
}

.intro-section img {
    max-width: 100%;
}

.about-section h2 {
    padding: 3rem 0;
}

.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work-column {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
    /* padding: 5px; */
}

.work-column h2 {
    padding: 3rem 0;
}

.work-section-main img {
    /* display: flex;
    flex-shrink: 3;
    max-width: 100%;
    min-width: 200px; */
    height: auto;
    width: 100%;
    transition: .5s;
}

.work-section-main img:hover {
    transform: scale(1.02);
    /* transition: all ease-in-out .5s; */
}

.work-section-secondary {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.work-section-secondary img {
    height: auto;
    width: 100%;
}

.contact-section {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 1rem;
}

.contact-section h3 {
    padding: 1rem;
}

.contact-section ul {
    display: flex;
    flex-direction: row;
}

.contact-section ul li {
    list-style: none;
    margin: 0 1rem;
}

.contact-section a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 700px) {
    .intro-section-secondary {
        flex-wrap: wrap;
        justify-content: center;
    }
    .intro-section .intro {
        font-size: 1rem;
        padding: 1rem;
    }
  }
  @media screen and (max-width: 614px) {
    header h1 {
        font-size: small;
    }

    nav a {
        font-size: small;
    }
    .work-row {
        flex-wrap: wrap;
        gap: 5px;
    }
    
    .contact-section ul {
        flex-direction: column;
    }

    .contact-section li {
        padding: 1rem;
    }
  }