html, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(121, 121, 121);
}

/* main section set to flex with direction column so each section stacks on top */
main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header,
section,
footer {
    padding: 20px;
}

/* start nav section  */
header {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #296d98;
    z-index: 2;
}

nav {
    display: flex;
    justify-content: flex-end;
    transition: .75s;
}

header a,
nav a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    margin: 0 1rem;
}

nav a:hover {
    text-decoration: underline;
}
/* end nav section  */

/* start intro section for the top */
.intro-section {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 0;
    max-height: 100vh;
    padding-bottom: 2rem;
}

.intro-section .intro {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: black;
    text-align: center;
}

.img-intro {
    display: flex;
    max-width: 40%;
    flex-wrap: wrap;
    background-color: white;
}

.intro-section img {
    max-width: 100%;
}

.about-section {
    border-top: 7px inset #296d98;
    padding: 3rem 0;
}

.about-section h3 {
    padding-bottom: 3rem;
    text-align: center;
    font-size: 2rem;
}

.about-section p {
    font-size: .83rem;
    padding: 0 2rem;
    line-height: 1.5;
}
/* end intro section for top */

/* start intro section */
.work-column {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-top: 7px outset #296d98;
    border-bottom: 7px outset #296d98;
}

.work-column h3 {
    padding: 2rem 0 2rem;
    font-size: 2rem;
}

.work-section-main {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    transition: all .5s ease-in-out;
    position: relative;
}

.work-section-main:hover {
    transform: scale(1.02);
    box-shadow: inset 0px 0px 10px rgba(41, 109, 152, 1), 0 0 15px rgba(41, 109, 152, 1);
}

.work-section-main p {
    font-size: 1rem;
    position: absolute;
    top: 0;
    left: 0px;
    color: white;
    border: 3px solid white;
    padding: 0.5rem;
    font-weight: 600;
    background-color: rgb(85, 85, 85);
}

.work-section-main img {
    height: auto;
    width: 100%;
}

.work-section-secondary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.work-section-secondary figure {
    position: relative;
    transition: all .5s ease-in-out;
}

.work-section-secondary figure:hover {
    transform: scale(1.02);
    box-shadow: inset 0px 0px 10px rgba(41, 109, 152, 1), 0 0 15px rgba(41, 109, 152, 1);
    border: none;
}

.work-section-secondary figure p {
        font-size: 1rem;
        position: absolute;
        top: 0;
        left: 0;
        color: white;
        border: 3px solid white;
        padding: 0.5rem;
        font-weight: 600;
}

.work-section-secondary p {
    font-size: 1rem;
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    border: 3px solid white;
    padding: 0.5rem;
    font-weight: 600;
    background-color: rgb(85, 85, 85);
}

.work-section-secondary img {
    height: 100%;
    width: 100%;
}
/* end work section */

/* start contact section */
.contact-section {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 2rem 0 3rem;
}

.contact-section h3 {
    padding: 1rem;
    font-size: 2rem;
}

.contact-section ul {
    display: flex;
    flex-direction: row;
}

.contact-section ul li {
    list-style: none;
    margin: 0 1rem;
}

.contact-section a {
    text-decoration: none;
    color: black;
    transition: all ease-in-out .2s;
}

.contact-section a:hover {
    color: #4ea7df;
}
/* end contact section */

footer p {
    background-color: #296d98;
    color: white;
    text-align: center;
}

  @media screen and (max-width: 614px) {

    header a, nav a {
        font-size: small;
        margin: 0 4px;
    }

    .intro-section {
        flex-wrap: wrap;
        justify-content: center;
    }

    .intro-section .intro {
        font-size: 1.5rem;
        padding: 1rem;
    }

    .img-intro {
        max-width: 60%;
    }

    .work-column {
        gap: 5px;
    }

    .work-section-main p {
        font-size: .5rem;
    }

    .work-section-main img {
        min-height: 7rem;
    }

    .work-section-secondary {
        flex-wrap: wrap;
        gap: 5px;
    }

    .work-section-secondary figure p {
        font-size: .65rem;
    }

    .contact-section ul {
        flex-direction: column;
    }

    .contact-section li {
        padding: 1rem;
    }
  }